/Guía 11/ManosALaObra_PersonaObjetosRelaciones/nbproject/private/
/Guía 11/ManosALaObra_PersonaObjetosRelaciones/build/
/Guía 11/ManosALaObra_JugadorObjetosRelaciones/nbproject/private/
/Guía 11/ManosALaObra_JugadorObjetosRelaciones/build/
/Guia 11/G11Ej01_PersonaYPerro/nbproject/private/
/Guia 11/G11Ej01_PersonaYPerro/build/
/Guia 11/G11Ej02_RuletaRusa/nbproject/private/
/Guia 11/G11Ej02_RuletaRusa/build/
/Guia 11/G11Ej02_RuletaRusa_V2/nbproject/private/
/Guia 11/G11Ej03_CartasYBaraja/nbproject/private/
/Guia 11/G11Ej03_CartasYBaraja/build/
/Guia 11/G11Ej02_RuletaRusa_V2/build/
/Guia 11/G11Ej01Ex_PersonaYPerro_2/nbproject/private/
/Guia 11/G11Ej01Ex_PersonaYPerro_2/build/
/Guia 11/ManosALaObra_Animal/nbproject/private/
/Guia 11/ManosALaObra_Animal/build/
/Guía 12/G12Ej01_Animales/nbproject/private/
/Guía 12/G12Ej01_Animales/build/
/Guía 12/G12Ej02_Electrodomesticos/nbproject/private/
/Guia 12/G12Ej01_Animales/build/
/Guia 12/G12Ej01_Animales/nbproject/private/
/Guia 12/G12Ej02_Electrodomesticos/nbproject/private/
/Guia 12/ManosALaObra_Animal/build/
/Guia 12/ManosALaObra_Animal/nbproject/private/
/Guia 12/G12Ej02_Electrodomesticos/build/
/Guia 12/G12Ej03_ElectrodomesticosLista/nbproject/private/
/Guia 12/G12Ej03_ElectrodomesticosLista/build/